* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.m-b-20{
  margin-bottom: 20px;
}

.m-t-20{
  margin-top: 20px;
}
